h1, h2 ,h3 ,h4 ,h5 ,h6 ,p ,li {
    font-family: 'Ropa Sans', sans-serif;
}

p, label, div {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.15em;
}

body {
  height: 100vh;
  width: 100%;
}

.main-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.inner-wrapper {
  /*border: 1px dotted black;*/
  height: 75%;
  width: 85%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

#content-area {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.slider {
/*border: 1px dotted black;*/
  height: 10%;
  width: 85%;
  margin: 0 auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.solidArc:hover {
  fill: orangered ;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#year {
  color: #AC2005;
  border: none;
}

#slider-range {
    width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.ui-slider-handle {
  background: #AC2005 !important;
}

.ui-widget-content {
  background: #DB1414 !important;
}
